/* Подключение шрифтов */
@import "fonts.css";
/* Подключение основных стилей */
@import "base.css";
/* Подключение универсальных стилей */
@import "typography.css";
/* Подключение стилей относящихся к header */
@import "header.css";
/* Подключение стилей относящихся к footer */
@import "footer.css";
/* Подключение стилей относящихся к main */
@import "main.css";

.header{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.scool{
    padding: 30px; 
}
.menu__list {
    list-style: none;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;

}
.menu__link{
    padding: 10px;
    background-color: antiquewhite;
    white-space: nowrap;
}
.submenu__list{
    display: none;
    /* position: absolute; */
    /* list-style: none; */
}
.submenu__link{
    background-color:aquamarine;
    /* display: flex;
    flex-direction: column; */
    
}
.menu__item--active{
    position: relative;
}
.menu__item--active:hover .submenu__list{
    display: flex;
}

.scool__title1 {
    color: blue;
    font-family: 'Gilroy', sans-serif ;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.47px;
}
.scool__title{
    font-family: 'Gilroy', sans-serif ;
    size: 60px;
    letter-spacing: #232323;
    margin-top: 15px;
  
    
}
